@import "./fontawesome.scss";
@import "./solid.scss";
@import "./brands.scss";

body{
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: justify;
  font-size: 100%;
}

$common_color1:#ECD078;
$common_color2:#D95B43;
$common_color3:#C02942;
$common_color4:#542437;
$common_color5:#53777A;

$sub_color1:#555;
$sub_color2:snow;

$ui_color1:#00286D;
$ui_color2:#ED1C24;
$ui_color3:#EAEAEA;
$ui_color4:#1C0038;

*{
  box-sizing: inherit;
}

p,h1,h2,h3,ul,li,form{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: inherit;
  }
}

h1{
  font-size: 2.75rem;
}

h1,h2,h3{
  color: #222;
  line-height: 1.4;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@mixin AnchorButton($color,$background){
  padding: 7px 20px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 14px;
  border: 1px solid #555;
  font-size: 1rem;
  background:$background;
  color:$color;
  &:hover{
    color: $ui_color3;
    opacity: 0.75;
  }
}

@mixin SubmitButton($color,$background){
  padding:  6px 12px;
  margin: 5px 0 0;
  border-radius: 5px!important;
  font-size: 20px;
  background: $background;
  color: $color;
}

@mixin Reset(){
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  outline: none!important;
}

.message{
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.success{
  background-color: skyblue;
  color:$ui_color3;
}

.error{
  background-color: tomato;
  color:$ui_color3;
}

.hidden{
  display: none;
}

.Textarea{
  border: 2px solid #555;
}

.HowToPostYoutubeBox{
  display: none;
}

.YoutubeTrigger{
  max-width: 700px;
  margin: 0 auto;
  #HowToPostYoutubeTrigger{
    cursor: pointer;
    background-color: $common_color1;
    display: inline-block;
    text-decoration: underline;
    line-height: 2;
    padding: 0 15px;
    margin: 0 0 15px;
    border-radius: 3px;
    .fa-youtube{
      color: red;
      margin-right: 5px;
    }
  }
}


/*------------------------*/
 /*UI*/
/*------------------------*/

.reset{
  @include Reset()
}

.AnchorButton_Login,.AnchorButton_PEdit,.SubmitButton{
  @include AnchorButton($sub_color2,$ui_color1)
}

.AnchorButton_Register{
  @include AnchorButton($sub_color2,$ui_color2)
}

.PostButton{
  @include SubmitButton($ui_color4,$sub_color2)
}

/*------------------------*/
 /*Navigation*/
/*------------------------*/

.Navigation{
  padding: 10px 0;
  background-color:$common_color1;
  border-bottom: 2px solid $common_color4;
  border-top: 2px solid $common_color4;
  .NavigationBox{
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 5px auto 10px;
    .NavigationBrandBox{
      margin: 0 auto 0 50px;
        .NavigationBrandTitle{
          margin: 0;
          a{
            color: $sub_color1;
          }
        }
    }
    .NavigationList{
      margin:0 50px;
      padding-left: 0;
      display: flex;
      justify-content: flex-end;
        .NavigationItems{
          margin-left: 20px;
          line-height: 1;
          list-style: none;
            a{
              padding:7px 10px;
              border: 1px solid $sub_color1;
              border-radius: 3px;
              display: block;
              color:$sub_color1;
                &:hover{
                  box-shadow: 2px 2px 3px;
                }
            }
        }
    }
  }
}


/*------------------------*/
  /*Reply_Posts.php*/
 /*------------------------*/
/*------------------------*/
  /*InsertFormBox*/
/*------------------------*/
.InsertFormSection{
  background-color: $common_color2;
  width: 100%;
  padding: 50px;
    .InsertFormBox{
      background-color: snow;
      max-width: 500px;
      margin: 0 auto;
      border: 1px dashed #555;
      padding: 20px 50px;
    }
}

#password,#username{
  margin: 0;
}

.text-muted{
  font-size: 0.8rem;
  padding: 5px 0 10px;
}

/*------------------------*/
  /*TweetPostSection*/
/*------------------------*/

.TweetPostSection{
    padding:50px 0;
    background-color: $common_color2;
    .HowToPostYoutubeBox{
      max-width: 700px;
      margin: 20px auto;
      padding: 20px 50px;
      border-radius: 3px;
      background-color: #fff;
      li{
        list-style: none;
        width: 100%;
        text-align:left;
        padding: 20px 0 5px;
        font-size: 0.85rem;
        img{
          width: 400px;
          border: 2px solid #555;
        }
      }
    }
  .TweetPostFormBox{
    max-width: 700px;
    margin: 0 auto;
    .Textarea{
      border: 2px solid #555;
    }
  }
  .InductionLoginBox{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
      .Induction{
        padding: 10px 0;
          button{
            margin: 0 10px;
              &:hover{
                box-shadow: 2px 2px 4px;
              }
          }
      }
  }
}

/*------------------------*/
  /*main*/
/*------------------------*/
main{
  max-width: 1280px;
  margin: 0 auto;
  .MainArticle{
    display: flex;
    max-width: 800px;
    padding: 20px 0 15px;
    border-bottom: 1px solid #555;
    margin: 15px auto -1px;
    .MainIconBox{
      height: 60px;
      width: 60px;
      margin: 0 10px 0 0;
      .MinIcon{
        width: 100%;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }
    .MainAuthorPostBox{
      width: 100%;
      .MainAuthorName{
        display: flex;
        align-items: center;
        max-width: 100%;
        padding: 0 0 5px 0;
        .TimeBox{
          margin-left: auto;
         time{
         color: #ccc;
          &:before{
            font-family: "Font Awesome 5 FREE";
            content: "\f017";
            font-weight: 400;
            margin-right: 5px;
          }
         }
        }
        .NameBox{
          padding: 1px 10px;
          border-radius: 3px;
          background-color:#ccc;
          &:before{
            font-family: "Font Awesome 5 Free";
            content:"\f007";
            font-weight: 900;
            color:$sub_color1;
          }
          a{
            font-size: 14px;
            color:$sub_color1;
          }
        }
      }
      .MainPostBox{
        padding: 10px 0 0;
        max-width: 700px;
        overflow-wrap:break-word;
        .MainYoutubeBox{
          width: 230px;
          height: 135px;
          .MainYoutubeImage{
            border:  2px solid $sub_color1;
          }
        }
        .YoutubeTitle{
          font-size: 0.8rem;
          margin-top: 20px;
          &:before{
            font-family: "Font Awesome 5 Brands";
            content:"\f167";
            font-weight: 400;
            color:red;
            margin-right: 3px;
          }
        }
        .MainPost{
          font-size: 1em;
        }
        p{
          a{
            color: #337ab7;
          }
        }
      }
      .MainPostImageBox{
        text-align: left;
        margin: 10px 0;
        position: relative;
        display: inline-block;
        width: 100%;
          .ImageCover{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            background-color:	rgba(0,0,0,0.4);
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 5px;
            &:hover{
              opacity: 1;
            }
            .ImageCaption{
              color: #fff;
              font-size: 1.5rem;
            }
          }
        .MainPostImage{
          border-radius: 5px;
          border: 2px solid $sub_color1;
        }
      }
      .TinkerBox{
        display: flex;
          .ReplyIconBox{
            font-size: 16px;
            :before{
              font-family: "Font Awesome 5 FREE";
              content: "\f075";
              font-weight: 900;
              color: #ccc;
              font-size: 20px;
            }
          }
        .DeleteIconBox{
          margin-left: auto;
          :before{
            font-family: "Font Awesome 5 FREE";
            content: "\f2ed";
            font-weight: 400;
            margin-right: 5px;
            color: #ccc;
          }
        }
      }
    }
  }
}


/*------------------------*/
  /*Mypage.php*/
/*------------------------*/
/*------------------------*/
  /*ProfileSection*/
/*------------------------*/
.ProfileSectionWrapper{
  .ProfileSection{
    max-width:100%;
    height: auto;
    margin: 0 auto;
    border-top: 2px solid $common_color4;
    background-color: $common_color2;
    .ProfileBox{
      padding:50px 0 10px;
      .ProfileInnerBox{
        display: flex;
        padding: 50px 20px;
        margin: 0 auto;
        border: 1px solid $sub_color1;
        border-radius: 5px;
        max-width: 700px;
        background-color: $sub_color2;
        .UserIconBox{
          margin-left: auto;
          text-align: center;
          .UserIcon{
            border-radius: 50%;
            border: 1px solid $sub_color1;
          }
          .UserName{
            text-align: center;
          }
        }
        .S-IntoroductionBox{
          display: flex;
          align-items: center;
          width: 800px;
          margin: 0 0 0 15px;
          .name{
            font-size: 1rem;
            a{
              color: #337ab7;
            }
          }
        }
      }
    }
    .ProfileEditTriggerBox{
      margin: 20px auto;
      text-align: right;
      max-width: 700px;
    }
    .ProfileEditBox{
      max-width: 700px;
      margin: 0 auto;
      padding: 50px 15px;
      border-radius: 3px;
      background-color: $common_color5;
      display: none;
      .Profile{
        width: 100%;
      }
      .DeleteBox{
        text-align: right;
        #delete{
          cursor: pointer;
        }
      }
    }
  }
}

.ImageSectionWrap{
  width: 100%;
    .innerwrap{
      max-width:1000px;
      margin: 0 auto;
    .ImageSection{
      max-width: 670px;
      margin: 0 auto;
      padding: 20px 10px 0;
        .CutTitle{
          font-size: 0.8rem;
          height: 40px;
          margin: 5px 0;
          padding: 0 5px;
          border-right: 1px solid #555;
        }
      .ImageSection_Title{
        box-shadow: 0 7px 21px rgba(0, 0, 0, 0.36);
        border: 1px solid $sub_color1;
        border-bottom: none;
        background-color: $common_color2;
        text-align: center;
        padding: 10px 0;
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
        p{
          display: inline-block;
          background-color: $common_color1;
          padding: 5px 7px;
          border-top-left-radius:10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
}


/*------------------------*/
  /*footer.php*/
/*------------------------*/

footer{
  background-color: $common_color5;
  border-bottom: 2px solid $common_color4;
  border-top: 2px solid $common_color4;
  text-align: center;
  padding: 20px 10px 3px;
  a{
    color: $sub_color1;
  }
}


/*------------------------*/
  /*Form*/
/*------------------------*/


  .FormBtn{
    background-color: $sub_color2;
    color:$common_color4;
    border: 2px solid $common_color4;
      &:hover{
        box-shadow: 2px 2px 4px;
      }
  }
  #Textarea{
    background-color: $sub_color2;
    border:2px solid $common_color4;
  }
  .file{
    #File{
      display: none;
    }
    #LabelFile{
      padding:5px;
      margin: 5px 0 0;
      &:hover{
        cursor: pointer;
      }
    }
  }

/*------------------------*/
  /*image.ctp*/
/*------------------------*/
.DetailImageWrap{
  max-width: 1000px;
  margin: 50px auto;
  height: auto;
  text-align: center;
}

/*------------------------*/
  /*slick.slider*/
/*------------------------*/

.slider{
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.36);
  border: 1px solid $sub_color1;
}

/*------------------------*/
  /*error*/
/*------------------------*/
  #footer{
    font-size: 2rem;
  }
/*------------------------*/
  /*responsive*/
/*------------------------*/

  // $xl: 1200px;
  // $lg: 992px;
  $md: 768px;
  $sm: 576px;

  // @media (max-width: $xl) {
  // }
  // @media (max-width: $lg) {
  // }
  @media (max-width: $md) {

    //index.php
    .Navigation{
      .NavigationBox{
        display: block;
      }
    }
    main{
      .MainArticle{
        padding: 15px;
        .MainIconBox{
          margin: 0 10px 0 0;
        }
        .MainAuthorPostBox{
          .MainAuthorName{
            font-size: 12px;
          }
        }
      }
    }
    .TweetPostFormBox{
      padding: 0 15px;
    }

    //mypage.php
.ProfileSectionWrapper{
  .ProfileSection{
    .ProfileBox{
      .UserIconBox{
        width: 100px;
        .m-1{
          img{
            width: 100%;
          }
        }
        .UserName{
          font-size: 0.7em;
        }
      }
      .ProfileInnerBox{
        padding: 20px 10px;
        .S-IntoroductionBox{
          .name{
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

#HowToPostYoutubeTrigger{
  margin: 0 15px 15px!important;
}

.CutTitle{
  font-size: 0.6rem!important;
}

.ProfileSectionWrapper{
  .ProfileSection{
    .ProfileBox{
      padding: 15px;
    }
  }
}
.ProfileSectionWrapper{
  .ProfileSection{
    .ProfileEditBox{
      padding: 20px 10px;
    }
  }
}
  }
  @media (max-width: $sm) {

    //index.php
    .MainPost{
      font-size: 0.8em!important;
    }

    // head.php
    .Navigation{
      .NavigationBox{
        .NavigationBrandBox{
          margin: 0 auto 0 10px;
        }
        .NavigationList{
          margin: 10px 0 0;
          .NavigationItems{
            margin: 3px;
          }
        }
      }
    }

  .UserIconBox{
    width: 170px!important;
  }

  .name{
    font-size: 0.8rem;
  }

  .S-IntoroductionBox{
    margin: 0 0 0 5px;
  }

  .InsertFormSection{
    padding: 15px;
    .InsertFormBox{
      padding: 20px 30px;
      margin: 20px auto;
    }
  }

  .MainPostImageBox{
    width: 170px!important;
  }

  .YoutubeTitle{
    font-size: 0.6rem!important;
  }

  .MainYoutubeBox{
    width: 180px!important;
    height: 120px!important;
  }

  #HowToPostYoutubeTrigger{
    margin: 0 15px 15px!important;
  }

  .HowToPostYoutubeBox{
    padding: 20px 15px!important;
  }

  .CutTitle{
    display: none!important;
  }

  footer{
    p{
      font-size: 0.8rem!important;
    }
  }

}
